.button {
    background-color: #FFDD2D;
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.25);
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button:hover {
    cursor: pointer;
    background-color: #DFBD0D;
}
