.owner-icon {
    color: #CFCFCF;
    border: 1px solid #CFCFCF;
    border-radius: 16px;
    padding: 8px 16px;
}

.leave-button {
    border: none;
    background-color: #A05050;
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
}

.leave-button:hover {
    background-color: #C07070;
}

.block-user {
    border: none;
    background-color: #A05050;
    border-radius: 16px;
    cursor: pointer;
}

.block-user:hover {
    background-color: #C07070;
}

.add-moderator {
    padding: 0 16px;
    border: none;
    background-color: #4fbfb4;
    border-radius: 16px;
    cursor: pointer;
}

.add-moderator:hover {
    background-color: #6fdfd4;
}