.approve-button {
    padding: 0 8px;
    border: none;
    background-color: #4fbfb4;
    height: 100%;
    cursor: pointer;
}

.approve-button:hover {
    background-color: #6fdfd4;
}

.not-approve-button {
    padding: 0 8px;
    border: none;
    background-color: #A05050;
    height: 100%;
    cursor: pointer;
}

.not-approve-button:hover {
    background-color: #C07070;
}